body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: url("./tropical-plants.jpeg");
}

.name {
  color: white;
  font-size: 30px;
  padding: 3px 100px;
  margin: 5px 0;
  background-color: black;
  border-radius: 0 10px;
  opacity: 0.8;
}

.score-and-number {
  display: flex;
  color: white;
  background-color: green;
  padding: 3px 50px;
  border-radius: 10px 0;
  margin-bottom: 5px;
  font-size: 20px;
  opacity: 0.9;
}

.score {
  margin-right: 5px;
}

#game-board {
  background-color: rgb(36, 151, 36);
  opacity: 0.9;
  border-radius: 5px;
  width: 100vmin; /* vmin will make it dynamic for different sized browsers */
  height: 90vmin;
  display: grid;
  grid-template-rows: repeat(27, 1fr);
  grid-template-columns: repeat(27, 1fr);
}

.snake {
  background-color: red;
  border: 0.25vmin solid black; /* The .25vmin will make the size of it dynamic with the browser (if the browser shrinks, it's size decreases) */
}

.food {
  background-color: yellow;
  border: 0.25vmin solid black;
  border-radius: 50%;
}
